.user-menu{
    #user{
        padding: 0 !important;
        span{
            padding: 15px 6px;
            display: inline-block;
            height: 100%;
        }
        img{
            margin-top: 11px;
            margin-left: 10px
        }
    }
    
}